

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.3rem;
}

body a {
	text-decoration: none;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 3rem;
	color: white;
	
}

body h2 {
	font-weight: bold;
	font-size: 1.5rem;
	margin: 0.5em auto 1em;
}

body h3 {
	font-weight: bold;
	font-size: 1.3rem;
	margin: 0.5em auto;
}

body p {
	margin: 1em auto;
}

/*resolver porblema da opacidade do bg*/

.hero {
	position: relative;
	height:500px;
	overflow: hidden;

}

.hero:before {
	content: "";
	position: absolute;
	top:0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: url(banner.jpg) no-repeat center;
	background-size: cover;
	opacity: 0.8;
}



/*
.profile-picture {
	position: absolute;
	display: none;
	-webkit-clip-path: circle(50% at 50% 50%);
	width: 25%;
	left: 50%;
    margin-left: -12.5%;
    top: 5%;
    z-index: 2;
}

*/

/*Criar algum botão*/

.banner-text {
	position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
  	overflow: hidden;
  	text-align: center;
  	color: white;
  	text-transform: uppercase;
}

.banner-text-icons {
	display: flex;
	justify-content: center;
}




.banner-text h1 {
	display: block;
	letter-spacing: 0.1em;
	border: 5px solid white;
    padding: 10px 15px;
    text-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;

 }

.banner-text span {
	display: block;
	letter-spacing: 0.05em;
    margin: 20px;
    font-weight: 600;
    font-size: 1.2em;
    text-shadow: 0 0 5px black;
	
}
/*
.banner-text h1 {
	
	margin-bottom: 0.25em;
	width: 50%;
	margin: 0 auto;
	background-color: #3b5944;
	text-transform: uppercase;

	
}
.banner-text h2 {
font-family:  'Source Sans Pro', sans-serif;
font-weight: bold;
font-size: 2em;
color: white;
}

.banner-text p { 
	font-family: 'Source Code Pro';
	font-weight: normal;
	font-size: 1.5rem;
	color: white;
	margin-top: 2em;
 }

.banner {
	width: 100%;
	opacity: 0.7;
} */

/*espaçar lis*/

.navbar {
	background-color: #36454F;
	position:sticky;
	top: 0px;
	z-index: 3;
}

.navbar-links {
	display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.navbar-links li {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1%;
    font-size: 1.2rem;
    /* color: white; */
    font-weight: 500;
    width: 50%;
    height: 3em;
    text-align: center;
    text-shadow: 0 0 4px black;
    
}


.navbar-links a {
	color: white;
	text-decoration: none;
	transition: 0.3s;

}

.navbar-links a:hover {
	color: #86B7C4;
	text-shadow: none;
}


.page {
	background-color: #EDEDED;
	margin: 0 auto;
	padding: 3em 0;

}


.page div {
	width: 70%;
	text-align: center;
	margin: 0 auto;
}

#about-me {
	background-image: linear-gradient(to top right, #36454F , #86B7C4);
	color: white;
}

#professional-experience, #skills {
	padding-bottom: 0;
}

.timeline-topics {
	position: relative;
	width: 100%;
	margin: auto;
}

.progress-bar {
	position: relative;
	display: flex;
	justify-content: space-between;
	z-index: 2;
	margin: 3em 0 1em;
}

.progress-bar-step.fulfill:before {
	background-image: linear-gradient(to top right, #FF6112 , #FFAC00);

}



.progress-bar-step:before {
	content: "";
	display:block;
	background-color: #EDF6F9;
	margin: auto;
	width: 20px;
	height:20px;
	border-radius: 50%;
	border: solid 2px black;
}

.progress-bar-step:first-child:before {
	background-image: linear-gradient(to top right, #FF6112 , #FFAC00);
}

.progress-bar-step:hover:before, .progress-bar-step.active:before {
	background-image: linear-gradient(to top right, #FF6112 , #FFAC00);
	cursor: pointer;
}

.progress-bar-step:after {
	content: "";
    position: absolute;
    width: 30%;
    height: 2px;
    top: 10px;
    z-index: -1;
    background-color: black;
}

.progress-bar-step:last-child:after {
	content: none;
}

.steps {
	overflow: hidden;
	margin-top: 20px;
	

}

.fas {
	color: black;
	font-size: 2.5rem;

}

.steps-list {
	display: flex;
	width: 400%;
	transition: margin-left 0.3s ease-in-out;

}

.steps-list h3 {
	margin: 0.5em auto 1.5em;
}



/*repensar width*/
.skills-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}


.skills-list ul {
	display: flex;
    flex-direction: column;
   	width: 45%;
    min-width: fit-content;
    padding: 20px;
    justify-content: space-between;
}



.skills-list li {
	background-color: white;
    padding: 10px;
    margin: 2% 3%;
    box-shadow: 2px 2px 5px black;
    transition: 0.5s;
    
}

.skills-list li:nth-child(1){
	background-image: linear-gradient(to top right, #36454F , #86B7C4);
	color: white;
	text-shadow: 0 0 4px black;
	text-transform: uppercase;
}


.skills-list li:hover {
	box-shadow: 4px 4px 5px black;
	transform: scale(1.02);
	background-image: linear-gradient(to top right, #36454F , #86B7C4);
	color: white;

}


.page form {
	padding: 30px;
	display: block;
	width: 40%;
	margin: 0 auto;
}

/* ajustar width */

.input-standard {
	width: 100%;
	height: 30px;
	display: block;
	margin: 5px 0px 10px;
	padding-left: 10px;
	border-radius: 5px;
	font-family: 'Source Sans Pro';
	font-size: 0.75rem;
	color: grey;
	border: none;
}



form {
	width: 500px;
}

form label {
	width: 50%;
	margin: auto;
	font-size: 1rem;
	text-align: center;
}

/*button não-responsivo, o height precisa ser ajustável*/

button {
	width: 50%;
	min-width: fit-content;
    height: 40px;
    margin: 10px auto;
    background-image: linear-gradient(to top right, #FF6112 , #FFAC00);
    color: white;
    font-size: 1rem;
    font-weight: bold;   
    transition: 0.3s;
    border: none;
    border-radius: 20px;


}

button:hover {
	cursor: pointer;
	opacity: 0.7;
}

button:active {
	transform: scale(0.97);
	
}

footer {
	background-color: #36454F;
	padding: 2em;
	display: flex;
	justify-content: center;
}

.fab {
	color: white;
	text-align: center;
    font-size: 2rem;
    width: fit-content;
    margin: 0 5px;
}

.fab:hover {
	opacity: 0.7;
	cursor: pointer;
}

.fab:active {
	transform: scale(0.95);
}

@media screen and (max-width: 480px) {
	.page div {
		width: auto;
		margin: 0 5%;
	}

	/*.navbar {
		width: auto;
	} */

	.navbar {
		display:none;
	}

	.page form {

		width: 80%;

	}

	.page {
		padding: 1em;
	}

	.skills-list ul {
		width:100%;
	}
}