

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;


}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 3rem;
	color: white;
	
}

body h2 {
	font-weight: bold;
	font-size: 1.5rem;
	margin: 0.5em auto;


}

body p {
	margin: 1em auto;
}

/*resolver porblema da opacidade do bg*/

.banner-image {
	position: relative;
	height:500px;
	overflow: hidden;
	background: url(banner.jpg) no-repeat center;
	background-size: cover;
	

}



/*
.profile-picture {
	position: absolute;
	display: none;
	-webkit-clip-path: circle(50% at 50% 50%);
	width: 25%;
	left: 50%;
    margin-left: -12.5%;
    top: 5%;
    z-index: 2;
}

*/

/*Criar algum botão*/

.banner-text {
	position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
  	overflow: hidden;
  	text-align: center;
  	color: white;
  	text-transform: uppercase;
  	

}

.banner-text h1 {
	letter-spacing: 0.1em;
	border: 5px solid white;
    padding: 10px 15px;

 }

.banner-text span {
	display: block;
    margin: 20px;
    font-weight: 600;
    font-size: 1.2em;
    text-shadow: 0 0 5px black;

	
}
/*
.banner-text h1 {
	
	margin-bottom: 0.25em;
	width: 50%;
	margin: 0 auto;
	background-color: #3b5944;
	text-transform: uppercase;

	
}
.banner-text h2 {
font-family:  'Source Sans Pro', sans-serif;
font-weight: bold;
font-size: 2em;
color: white;
}

.banner-text p { 
	font-family: 'Source Code Pro';
	font-weight: normal;
	font-size: 1.5rem;
	color: white;
	margin-top: 2em;
 }

.banner {
	width: 100%;
	opacity: 0.7;
} */

.navbar {
	background-color: #231F20;
	position:sticky;
	top: 0px;
	z-index: 3;
}

.navbar-links {
	display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.navbar-links li {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1%;
    font-size: 1.5rem;
    /* color: white; */
    font-weight: bold;
    width: 50%;
    height: 3em;
    text-align: center;
    text-shadow: 0 0 4px black;
    
}


.navbar-links a {
	color: white;
	text-decoration: none;
	transition: 0.8s;

}

.navbar-links a:hover {
	background-color: white;
	color: black;
	text-shadow: none;
}


.page {
	background-color: #EDF6F9;
	margin: 0 auto;
	padding: 3em 0;

}


.page div {
	width: 70%;
	text-align: center;
	margin: 0 auto;
}

#about-me {
	background-color: #006D77;
	color: white;
}


.timeline-topics {
	position: relative;
	width: 100%;
	margin: auto;
}

.timeline-steps {
	position: relative;
	display: flex;
	justify-content: space-between;
	z-index: 2;
}

.timeline-steps li:before {
	content: "";
	display:block;
	margin: auto;
	width: 20px;
	height:20px;
	border-radius: 50%;
	border: solid 2px black;
}

.timeline-steps li:hover:before, .timeline-steps li.active:before {
	background-color: #006D77;
}

.timeline-steps li:after {
	position: absolute;
	display: block;
	width:100%;
	height:5px;
	border: solid 2px black;
	z-index: 1;
}



/*repensar width*/
.skills-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

}


.skills-list ul {
	display: flex;
    flex-direction: column;
   	width: 45%;
    min-width: fit-content;
    padding: 20px;
    justify-content: space-between;
}



.skills-list li {
	background-color: white;
    padding: 10px;
    margin: 2% 3%;
    box-shadow: 2px 2px 5px black;
    transition: 0.5s;
    
}

.skills-list li:nth-child(1){
	background-color: #006D77;
	color: white;
	text-shadow: 0 0 4px black;
	text-transform: uppercase;
}


.skills-list li:hover {
	box-shadow: 4px 4px 5px black;
	transform: scale(1.02);
	background-color: #006D77;
	color: white;

}


.page form {
	padding: 30px 0;
	display: block;
	width: 40%;
	margin: 0 auto;
}

/* ajustar width */

.input-standard {
	width: 100%;
	height: 20px;
	display: block;
	margin: 5px 0px 10px;
	font-family: 'Source Sans Pro'
	font-size: 1rem;
}



form {
	width: 500px;
}

form label {
	width: 50%;
	margin: auto;
	text-align: center;
}

/*button não-responsivo, o height precisa ser ajustável*/

button {
	width: 50%;
    height: 40px;
    margin: 5px auto;
    background-color: #006D77;
    color: white;
    font-family: 'Source Code Pro';
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;
    border: none;
    border-radius: 20px;


}

button:hover {
	transform: scale(1.01);
	cursor: pointer;
	opacity: 0.7;
}

footer {
	background-color: #231F20;
	padding: 2em;
}

.fab {
	color: lightgrey;
	text-align: center;
    width: 100%;
    font-size: 2rem;
}

.fab:hover {
	transform: scale(1.1);
	cursor: pointer;
}

@media screen and (max-width: 480px) {
	.page div {
		width: auto;
		margin: 0 5%;
	}

	/*.navbar {
		width: auto;
	} */

	.navbar {
		display:none;
	}

	.page form {

		width: 80%;

	}

	.page {
		padding: 1em;
	}

	.skills-list ul {
		width:100%;
	}
}