.hero {
	position: relative;
	height:500px;
	overflow: hidden;
}

.hero:before {
	content: "";
	position: absolute;
	top:0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: url(../images/banner.jpg) no-repeat center;
	background-size: cover;
	opacity: 0.8;
}

.banner-text {
	position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
  	overflow: hidden;
  	text-align: center;
  	color: white;
  	text-transform: uppercase;
}

.banner-text-icons {
	display: flex;
	justify-content: center;
}

.banner-text h1 {
	display: block;
	letter-spacing: 0.1em;
	border: 5px solid white;
    padding: 10px 15px;
    text-shadow: 0 0 5px black;
    box-shadow: 0 0 5px black;
 }

.banner-text span {
	display: block;
	letter-spacing: 0.05em;
    margin: 20px;
    font-weight: 600;
    font-size: 1.2em;
    text-shadow: 0 0 5px black;	
}
